<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P치gina de Inicio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="center-title" onclick="window.location.href='/'">Inicio</div>
        <div class="profile-section">
            <div class="title">Administrador</div>
            <div class="profile-icon"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="logo" onclick="window.location.href='/'"><i class="fa-sharp-duotone fa-solid fa-car-side"></i>Concesionaria Compitas</div>

        <div class="transacciones">
            <h3>Concesionaria</h3>
            <ul class="menu">
                <li class="menu-item"><i class="fas fa-home"></i><span onclick="window.location.href='/api/direccion'">Concesionarias</span></li>
                <li class="menu-item"><i class="fa-solid fa-car"></i><span onclick="window.location.href='/api/vehiculo'">Vehiculos</span></li>
                <li class="menu-item"><i class="fa-solid fa-paint-roller"></i><span onclick="window.location.href='/api/colores'">Colores Vehiculares</span></li>
                <li class="menu-item"><i class="fa-solid fa-users"></i><span>Empleados</span></li>
            </ul>
        </div>
        <div class="transacciones">
            <h3>Transacciones</h3>
            <ul class="menu">
                <li class="menu-item"><i class="fa-brands fa-sellsy"></i><span>Ventas</span></li>
                <li class="menu-item"><i class="fa-solid fa-money-bill"></i><span>Metodos de pago</span></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h1>Bienvenido a la P치gina de Inicio</h1>
        <p>Esta es la p치gina de inicio de tu aplicaci칩n.</p>
    </div>
</body>

</html>